<div style="max-width: 50vw; max-height: 80vh;">
  <div class="card mt-5 mx-auto p-3"> 
    <div class="text-center my-4"> 
  <img src="/media/clouds/{{ secao.imagem_nuvem }}" class="img-fluid rounded" alt="Nuvem de Palavras" style="max-width: 100%; height: auto;">
</div>
    <p class="card-text" style="
      white-space: normal;
      text-align: justify;
      text-justify: inter-word;
      hyphens: auto;
      font-size: 1.1rem;
      line-height: 1.75;
      padding: 1rem;
    ">
      {{ secao.texto_resposta }}
    </p>
  </div>
</div>
